<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Domina8-ZA</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section>
        <header>
            <a href="#" class="logo">Domina8</a>
            <ul class="navigation">

            </ul>
        </header>
        <div class="content">
            <h2>Move With Those <br>
             Who Move</h2>
            <p>
                South African athleisure apparel company. <br>
                Comfort, Quality and Functionality
            </p>
            <a href="#">Start Shopping</a>
        </div>
    </section>
</body>

</html>